:root {
    --menu-row-start: 1;
    --menu-row-end: 3;
    --menu-column-start: 1;
    --menu-column-end: calc(var(--grid-cols) + 1)
}

.menu {
    grid-row: var(--menu-row-start) / var(--menu-row-end);
    grid-column: var(--menu-column-start) / var(--menu-column-end);
    background-color: #000;
    margin-top: 0;

    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 1000;
}

.menu * {
    z-index: 1000;
}

.menu-item {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item-button {
    background-color: #222;
    border: none;
    border-radius: 5px;
}

.menu-item-content {
    position: absolute;
    top: 100%;
    background-color: #666;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu-item-content * {
    text-align: center;
}

.menu-item-button:hover {
    transition: background-color 0.2s;
    background-color: #444;
    font-style: italic;
}

.menu button {
    
}