:root {
  --sidebar-columns: 1 / 2;
  --sidebar-rows: 1 / var(--grid-rows);
  --sidebar-extend-width: calc(var(--sidebar-width) * 2); 
  --sidebar-height: 100vh;
}

#sidebar {
    grid-row: var(--sidebar-rows);
    grid-column: var(--sidebar-columns);
    grid-column-end: 2;
    background-color: black;
    z-index: 100;
    opacity: 1;
  }
  
#sidebar:hover {
  transition: grid-column-end 1s;
  grid-column-end: 3;
}

.directory-contents {
  width: 0;
  height: 0;
  transition: width 0.1s, height 0.1s;
}

.directory-button, .file-button {
  border: 1px solid white;
  width: 100%;
}

.directory-button {
  border: 1px solid white;
  background-color: #222;
}

.file-button {
  background-color: #444;
}

.file-button.opened {
  background: linear-gradient(to right, #444, #AAA);
}