:root {
  --sidebar-row-start: var(--menu-row-end);
  --sidebar-row-end: var(--bottom-bar-row-start);
  --sidebar-column-start: 1;
  --sidebar-column-end: 3;
}

#sidebar {
    grid-row: var(--sidebar-row-start) / var(--sidebar-row-end);
    grid-column: var(--sidebar-column-start) / var(--sidebar-column-end);
    grid-column-end: 2;
    width: 100%;
    background-color: black;
    z-index: 100;
    opacity: 0.5;
  }

  #sidebar::before {
    content: '>>'
  }
  
#sidebar:hover {
  transition: width 0.5s, opacity 0.5s;
  width: min(20vw, 200px);
  opacity: 1;
}

.directory-contents {
  width: 0;
  height: 0;
  transition: width 0.1s, height 0.1s;
}

.directory-button, .file-button, .file-input {
  border: 1px solid white;
  width: 100%;
}

.directory-button {
  border: 1px solid white;
  background-color: #222;
}

.file-button {
  background-color: #444;
}

.file-button.opened {
  background: linear-gradient(to right, #444, #AAA);
}

.file-input {
  background-color: #666;
  color: green
}