html, body {
  height: 100%;
  width: 100%;
}

* {
  color: white;
  font-family: 'PT Sans', sans-serif;
  user-select: none;
  position: relative;
  transition: width 0.15s, height 0.15s, padding 0.15s, border 0.15s;
}

#container {
  position: relative;
}

.nodeArea {
  position: relative;
  background: radial-gradient(#333, #112);
  min-width: 100vw;
  min-height: 100vh;
}

.drag-selector {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.drag-selector.oriented {
  background-color: black;
}

.drag-selector.top {
  height: 10px;
  width: 100%;
  top: 0;
  left: 0;
}

.drag-selector.bottom {
  height: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.drag-selector.left {
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
}

.drag-selector.right {
  height: 100%;
  width: 10px;
  top: 0;
  right: 0;
}



.drag-selector.oriented:hover {
  transition: background-color 0.2s;
  background-color: white;
}

.drag-selector.oriented:active {
  transition: background-color 0.2s;
  background-color: #DDD;
}

.node {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  padding-top: 0px;

  display: flex;
  flex-direction: column;
  resize: both;
}

input {
  background: linear-gradient(to right, #222, #444);
  text-shadow: 2px 2px 2px black;
}

/* .node-name {

}

.varNode {

} */

.connector {
  position: absolute;
  background-color: black;
  width: 5%;
  height: 5%;
  max-width: 5px;
  max-height: 5px;
}

.connector.left {
  left: 0;
  top: 50%;
}

.connector.right {
  right: 0;
  top: 50%;
}

.connector.top {
  top: 0;
  left: 50%;
}

.connector.bottom {
  bottom: 0;
  left: 50%;
}

.connector:hover {
  transition: background-color 0.2s, border 0.4s;
  background-color: green;
  border: 2px solid black;
}

.node-area-background {
  width: 100%;
  height: 100%;
  z-index: 0; 
}


.close-button {
  color: red;
  background: none;
  border: none;
}

.scope-display {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #222;
  border: 1px solid white;
  border-radius: 5px;
}