html, body {
  height: 100%;
  width: 100%;
}

* {
  color: white;
  font-family: 'PT Sans', sans-serif;
  user-select: none;
}

#container {
  position: relative;
}

.nodeArea {
  position: relative;
  background-color: #333;
  min-width: 100vw;
  min-height: 100vh;
}

.drag-selector {
  height: 10px;
  width: 100%;
  background-color: red;
}

.drag-selector:hover {
  transition: background-color 0.2s;
  background-color: orange;
}

.drag-selector:active {
  transition: background-color 0.2s;
  background-color: darkred;
}

.node {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 50px;
  min-height: 50px;
  border: 2px solid white;
  background-color: black;
  padding: 10px;
  padding-top: 0px;

  display: flex;
  flex-direction: column;
  resize: both;
}

input {
  background: linear-gradient(to right, #222, #444);
  text-shadow: 2px 2px 2px black;
}

.node-name {

}

.varNode {

}