:root {
    --bottom-bar-width: 100vw;
    --bottom-bar-height: 50px;
    --bottom-bar-row-start: calc(var(--grid-rows) - 2);
    --bottom-bar-row-end: calc(var(--grid-rows) + 1);
}

#bottombar {
    grid-column: 1 / calc(var(--grid-cols) + 1);
    grid-row: var(--bottom-bar-row-start) / var(--bottom-bar-row-end);

    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#bottombar button {
    height: calc( var(--bottom-bar-height) * 0.8);
    background: radial-gradient(rgba(40, 40, 40, 100), rgba(20, 20, 20, 0));
    border: none;
}

#bottombar button.selected {
    background: green;
}

#bottombar button:hover {
    transition: filter 300ms;
    filter: brightness(1.2);
}